@font-face {
  font-family: bodonika;
  src: local(bodonika), url('/static/bodonika.otf');
}

@font-face {
  font-family: Ecuyer;
  src: local(EcuyerDAX), url('/static/ecuyer.ttf');
}

@font-face {
  font-family: Andes;
  src: local(Andes), url('/static/andes.ttf');
}

@font-face {
  font-family: Romantiques;
  src: local(Romantiques), url('/static/romantiques.otf');
}

@font-face {
  font-family: 'Betty Noir';
  src: local('Betty Noir'), url('/static/betty_noir.ttf');
}

@font-face {
  font-family: 'Deathe Maach';
  src: local('DEATHE MAACH NCV'), url('/static/deathe_maach.otf');
}

@font-face {
  font-family: 'Quentin Caps';
  src: local('QuentinCaps'), url('/static/quentin_caps.ttf');
}

@font-face {
  font-family: 'Riot Squad';
  src: local('RiotSquad'), url('/static/riot_squad.ttf');
}

@font-face {
  font-family: 'Zabatana Poster';
  src: local('Zabatan Poster'), url('/static/zabatana_poster.otf');
}

@font-face {
  font-family: 'Radley';
  font-style: italic;
  font-weight: 400;
  src: local('Radley Italic'), local('Radley-Italic'), url('/static/radley.woff');
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-style: normal;
}

.poem-text {
  text-align: left;
  font-size: 32px;
  font-family: 'Radley';
  font-style: italic;
}

#content {
  max-width: 600px;
}

#question-q {
  float: left;
  font-size: 48px;
}

#question {
  float: left;
}

#answer-a {
  clear: left;
  float: left;
  font-size: 48px;
}

#answer {
  float: left;
}

#load-poem-button {
  clear: left;
  float: left;
}
