<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}BASE{% endblock %}</title>
  {% load staticfiles %}
  <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'jquery.cookie.js' %}"></script>
  <script src="{% static 'base.js' %}"></script>
  <script src="{% static 'ajax.js' %}"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  {% block footer_script %}{% endblock %}
</body>
</html>
