{% extends "base_root.html" %}

{% load tags %}

{% block title %}Question &amp; Answer{% endblock %}

{% block content %}
<h1>
  <span style="font-family: Quentin Caps;">Question</span>
  <span style="font-style: italic; color: #444;"> &amp; </span>
  <span style="font-family: Romantiques; font-size: 33px;">Answer</span>
</h1>
<span id="question-q">Q:</span><span id="question" class="poem-text"></span>
<span id="answer-a">A:</span><span id="answer" class="poem-text"></span>
<button id="load-poem-button" disabled>Load poem</button>
<span id="load-poem-error"></span>
{% endblock %}

{% block footer_script %}
{{ block.super }}
<script>
  $(function () {
    $('#load-poem-button').click(loadPoem);
    loadPoem();
  });

  function loadPoem() {
    $('#load-poem-button').attr('disabled', true);

    var data = {};
    $.ajax({
      url: '{% url 'ajax-get-question-answer' %}',
      data: data,
      cache: false,
      success: function (data) {
        if (data.errors) {
          $('#load-poem-error').text(data.errors.join());
          return;
        }
        $('#question').text(data.question.text);
        $('#answer').text(data.answer.text);
      }
    }).fail(function() {
      $('#load-poem-error').text('Server error!');
    }).always(function() {
      $('#load-poem-button').removeAttr('disabled');
    });
  }
</script>
{% endblock %}