{% extends 'base_question_answer.html' %}

{% load tags %}

{% block title %}Question &amp; Answer{% endblock %}

{% block content %}
{{ block.super }}
<span id="question-q">Q:</span><span id="question" class="poem-text"></span>
<span id="answer-a">A:</span><span id="answer" class="poem-text"></span>
<button id="load-poem-button" disabled>Load poem</button>
<a id="create-poem-button" href="{% url 'question-answer-create' %}">Create poem</a>
<span id="load-poem-error"></span>
{% endblock %}

{% block footer_script %}
{{ block.super }}
<script>
  $(function () {
    var loadEl = $('#load-poem-button');
    loadEl.click(function() {
      loadQuestionAnswer($('#question'), $('#answer'), loadEl, $('#load-poem-error'),
                         $('#create-poem-button'));
    });
    loadEl.click();
  });
</script>
{% endblock %}