@font-face {
  font-family: 'Old Press';
  src: local('Old Press'), url('/static/old-press.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  background: url('/static/paper.png');
  font-family: 'Old Press';
}

div {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 130px;
  height: 361px;
  background: url('/static/logo.svg');
}

#content {
  position: absolute;
  top: 28px;
  right: 52px;
  bottom: 90px;
  left: 206px;
  text-align: center;
}

#content > div {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  width: 100%;
}

#instructions-container {
  font-size: 40pt;
}

.accent,
.question:before,
.answer:before,
.poem-author:before {
  color: #DE5547;
}

.poem-text {
  font-size: 48pt;
}

.question:before {
  content: "Q: ";
}

.answer:before {
  content: "A: ";
}

.answer,
.answer:before,
.answer-author,
.answer-author:before {
  font-style: italic;
}

.authors-container {
  display: inline-block;
  padding-left: 60%;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  color: #555;
  font-size: 22pt;
}

.poem-author {
  white-space: nowrap; 
}

.poem-author:before {
  content: "- ";
}

#instructions-buttons-container,
.vote-buttons-container {
  margin-top: 20px;
}

#instructions-buttons-container button,
.vote-buttons-container button {
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
  -webkit-tap-highlight-color: transparent;
}

#instructions-buttons-container button.hidden,
.vote-buttons-container button.hidden {
  /* Set the size to 0 because "display: none;" breaks the opacity transition. */
  height: 0;
  width: 0;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
  opacity: 0;
}

.upvote-button {
  margin-left: -35px;
  width: 96px;
  height: 109px;
  background: url('/static/thumbs-up.svg');
}

.upvote-button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.upvote-button:active {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.next-button {
  margin: 0 30px 0 37px;
  width: 101px;
  height: 52px;
  background: url('/static/next.svg');
}

.next-button:hover {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.next-button:active {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.downvote-button {
  margin-top: 28px;
  width: 52px;
  height: 81px;
  background: url('/static/thumbs-down.svg');
}

.downvote-button:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.downvote-button:active {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

#footer {
  position: absolute;
  bottom: 16px;
  right: 32px;
  text-align: right;
}

#fingerprint {
  display: inline-block;
  margin: 0 10px -16px 0;
  width: 37px;
  height: 49px;
  background: url('/static/fingerprint.svg');
}

#create-poem-link {
  color: #555;
  font-size: 24pt;
  text-decoration: none;
  -webkit-transition: opacity 500ms;
     -moz-transition: opacity 500ms;
      -ms-transition: opacity 500ms;
       -o-transition: opacity 500ms;
          transition: opacity 500ms;
}

#create-poem-link.hidden {
  opacity: 0;
}

#create-poem-link:hover {
  color: #000;
}