@font-face {
  font-family: 'Old Press';
  src: local('Old Press'), url('/static/old-press.woff');
}

html, body {
  height: 100%;
  margin: 0;
  background: url('/static/paper.png');
  font-family: 'Old Press';
}

div, input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]:disabled {
  background: #FFF;
  color: #777;
}

blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-size: 30pt;
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

a {
  -webkit-tap-highlight-color: transparent;
}

a:focus { 
  outline: none; 
}

button::-moz-focus-inner {
  border: 0;
}

:lang(fr) {
  font-style: italic;
}

#logo {
  position: absolute;
  top: 28px;
  left: 28px;
}

#content {
  position: absolute;
  top: 28px;
  right: 52px;
  bottom: 90px;
  left: 206px;
  text-align: center;
}

#project-quotes-container {
  position: relative;
  margin-top: 30px;
}

#project-quotes-container blockquote {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
}

#project-quotes-container.translated blockquote {
  opacity: 1;
}

#project-quotes-container blockquote:lang(fr) {
  position: initial;
  opacity: 1;
}

#project-quotes-container.translated blockquote:lang(fr) {
  opacity: 0;
}

.project-description {
  text-align: left;
  text-indent: 2em;
  font-size: 22pt;
  color: #222;
}

#question-answer-link,
#conditionals-link,
#the-exquisite-corpse-link {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

#question-answer-link {
  margin: 30px 30px 0 30px;
}

#question-answer-link:hover {
  -webkit-transform: translateY(-4px);
     -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
       -o-transform: translateY(-4px);
          transform: translateY(-4px);
}

#question-answer-link:active {
  -webkit-transform: translateY(-2px);
     -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
       -o-transform: translateY(-2px);
          transform: translateY(-2px);
}

#conditionals-link {
  margin: 30px 30px 7px 30px;
}

#the-exquisite-corpse-link {
  margin: 27px 30px 0 30px;
  padding-bottom: 50px;
}

#conditionals-link:after,
#the-exquisite-corpse-link:after {
  content: "Coming Soon!";
  position: absolute;
  top: 13px;
  right: -21px;
  padding: 0 2px 0 3px;
  font-size: 20px;
  color: #DE5547;
  background: #F8F8F8;
  border: 1px solid #999;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.4);
          box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

#instructions-container,
.poem-container {
  position: absolute;
  top: 50%;
  margin-top: -170px;
  width: 100%;
}

#instructions-container {
  font-size: 40pt;
}

.accent,
.question:before,
.answer:before,
.poem-author:before,
label {
  color: #DE5547;
}

.poem-text {
  font-size: 48pt;
}

.question:before {
  content: "Q: ";
}

.answer:before {
  content: "A: ";
}

.answer,
.answer:before,
.answer-author,
.answer-author:before {
  font-style: italic;
}

.authors-container {
  display: inline-block;
  padding-left: 60%;
  width: 100%;
  text-align: left;
  white-space: nowrap;
  font-size: 22pt;
}

.poem-author {
  white-space: nowrap;
  color: #555;
}

.poem-author:before {
  content: "- ";
}


#question-textbox,
#answer-textbox,
#author-textbox {
  width: 80%;
  outline: none;
  border: 0;
  border-bottom: 3px solid #CCC;
  padding: 0 8px;
  font: 40pt 'Old Press';
}

#author-textbox {
  width: 300px;
}

#instructions-buttons-container,
.vote-buttons-container {
  margin-top: 20px;
}

#instructions-buttons-container button,
.vote-buttons-container button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
  -webkit-tap-highlight-color: transparent;
}

#instructions-buttons-container button.hidden,
.vote-buttons-container button.hidden {
  /* Set the size to 0 because "display: none;" breaks the opacity transition. */
  width: 0;
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
  opacity: 0;
}

.upvote-button {
  margin-left: -35px;
}

.upvote-button:hover {
  -webkit-transform: translateY(-4px);
     -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
       -o-transform: translateY(-4px);
          transform: translateY(-4px);
}

.upvote-button:active {
  -webkit-transform: translateY(-8px);
     -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
       -o-transform: translateY(-8px);
          transform: translateY(-8px);
}

.next-button {
  margin: 0 30px 0 37px;
}

.next-button:hover {
  -webkit-transform: translateX(4px);
     -moz-transform: translateX(4px);
      -ms-transform: translateX(4px);
       -o-transform: translateX(4px);
          transform: translateX(4px);
}

.next-button:active {
  -webkit-transform: translateX(8px);
     -moz-transform: translateX(8px);
      -ms-transform: translateX(8px);
       -o-transform: translateX(8px);
          transform: translateX(8px);
}

.downvote-button {
  margin-top: 28px;
}

.downvote-button:hover {
  -webkit-transform: translateY(4px);
     -moz-transform: translateY(4px);
      -ms-transform: translateY(4px);
       -o-transform: translateY(4px);
          transform: translateY(4px);
}

.downvote-button:active {
  -webkit-transform: translateY(8px);
     -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
       -o-transform: translateY(8px);
          transform: translateY(8px);
}

.submit-button {
  
}

.submit-button:hover {
  -webkit-transform: rotate(-8deg);
     -moz-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
       -o-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.submit-button:active {
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
       -o-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.poem-rank {
  position: absolute;
  top: -20px;
  right: -6px;
  color: #888;
  font-size: 28pt;
  padding: 0 5px 0 1px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-shadow: 0 0 7px 4px rgba(255, 255, 255, 0.8);
     -moz-box-shadow: 0 0 7px 4px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 7px 4px rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(15deg);
     -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
       -o-transform: rotate(15deg);
          transform: rotate(15deg);
}

#footer {
  position: absolute;
  bottom: 16px;
  right: 32px;
  text-align: right;
}

#fingerprint {
  margin: 0 10px -16px 0;
}

#top-hat {
  margin: 0 8px -11px 0;
}

#create-poem-link,
#top-poems-link {
  margin-left: 17px;
  color: #555;
  font-size: 24pt;
  text-decoration: none;
  -webkit-transition: opacity 500ms;
     -moz-transition: opacity 500ms;
      -ms-transition: opacity 500ms;
       -o-transition: opacity 500ms;
          transition: opacity 500ms;
}

#create-poem-link.hidden,
#top-poems-link.hidden {
  opacity: 0;
}

#create-poem-link:hover,
#top-poems-link:hover {
  color: #000;
}

.banner {
  position: fixed;
  top: 50%;
  height: 300px;
  margin-top: -150px;
  width: 100%;
  opacity: 1;
  box-shadow: #000 2px 2px 13px;
  display: none;
}

.banner-text {
  width: 100%;
  height: 300px;
  padding: 50px 75px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  position: relative;
  text-shadow: #000 0px 3px 10px, rgba(0, 0, 0, 0.3) 0px 0px 30px;
}