@font-face {
  font-family: 'Old Press';
  src: local('Old Press'), url('/static/old-press.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  background: url('/static/paper.png');
}

div {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 130px;
  height: 361px;
  background: url('/static/logo.svg');
}

#content {
  position: absolute;
  top: 28px;
  right: 32px;
  left: 186px;
}

.poem-title {
  color: #DE5547;
  font: 48pt 'Old Press';
  margin-right: 6px;
}

.poem-text {
  font: 48pt 'Old Press';
}

#answer-a,
#answer {
  font-style: italic;
}

#upvote-button {
  width: 96px;
  height: 109px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url('/static/thumbs-up.svg');
}

#next-button {
  width: 101px;
  height: 52px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url('/static/next.svg');
}

#downvote-button {
  width: 52px;
  height: 81px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url('/static/thumbs-down.svg');
}

#footer {
  position: absolute;
  bottom: 16px;
  right: 32px;
  left: 186px;
  text-align: right;
}

#fingerprint {
  display: inline-block;
  margin: 0 10px -16px 0;
  width: 37px;
  height: 49px;
  background: url('/static/fingerprint.svg');
}

#create-poem-link {
  color: #555;
  font: 24pt 'Old Press';
  text-decoration: none;
}

#create-poem-link:hover {
  color: #000;
}