{% extends 'base.html' %}

{% block title %}BASE_POEM{% endblock %}

{% block content %}
{{ super() }}
<div id="instructions-container" {% if not show_instructions %}style="display: none;"{% endif %}>
  {% block instructions %}INSTRUCTIONS{% endblock %}
  <div id="instructions-buttons-container">
    <button class="next-button"><img src="/static/next.svg" alt="Next"/></button>
  </div>
</div>
<div class="poem-container" {% if show_instructions %}style="display: none;"{% endif %}>
  {% block poem %}POEM{% endblock %}<br>
  <div class="authors-container">
    {% block authors %}AUTHORS{% endblock %}
  </div>
  <div class="vote-buttons-container">
    <button class="upvote-button"><img src="/static/thumbs-up.svg" alt="Upvote"/></button>
    <button class="next-button"><img src="/static/next.svg" alt="Next"/></button>
    <button class="downvote-button"><img src="/static/thumbs-down.svg" alt="Downvote"/></button>
  </div>
  <div class="poem-rank"></div>
</div>
<div class="poem-container" style="display: none;">
  {{ self.poem() }}<br>
  <div class="authors-container">
    {{ self.authors() }}
  </div>
  <div class="vote-buttons-container">
    <button class="upvote-button"><img src="/static/thumbs-up.svg" alt="Upvote"/></button>
    <button class="next-button"><img src="/static/next.svg" alt="Next"/></button>
    <button class="downvote-button"><img src="/static/thumbs-down.svg" alt="Downvote"/></button>
  </div>
  <div class="poem-rank"></div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
<a id="create-poem-link" class="hidden" href="/{{ poem_type }}/create/">
  <img id="fingerprint" src="/static/fingerprint.svg" alt="Fingerprint"/>Create your own
</a>
<a id="top-poems-link" href="/{{ poem_type }}/top/">
  <img id="top-hat" src="/static/top-hat.svg" alt="Top hat"/>Top poems
</a>
{% endblock %}

{% block footer_script %}
{{ super() }}
<script>
  {# Derived templates must implement a renderPoem(poem, container) function. #}

  var poems = [
    {% for poem in poems %}
      {{ poem | to_json | safe }}{{ ',' if not loop.last }}
    {% endfor %}
  ];

  var poemType = '{{ poem_type }}',
      activePoemContainerIndex = 0,
      canVote = true;

  var $instructionsContainer = $('#instructions-container'),
      $instructionsNextButton = $('#instructions-container .next-button'),
      $poemContainers = $('.poem-container'),
      $upvoteButtons = $('.vote-buttons-container .upvote-button'),
      $nextPoemButtons = $('.vote-buttons-container .next-button'),
      $downvoteButtons = $('.vote-buttons-container .downvote-button'),
      $voteButtons = $('.vote-buttons-container button'),
      $createPoemLink = $('#create-poem-link');

  var MIN_POEMS_TO_VIEW_BEFORE_SHOWING_CREATE_LINK = 5,
      LOAD_POEMS_RETRY_DELAY = 2000,
      ALLOW_VOTE_DELAY = 1000,
      MIN_CACHED_POEMS = 5;

  $(function() {
    $instructionsNextButton.click(closeInstructions);
    $upvoteButtons.click(function() { vote(1); });
    $nextPoemButtons.click(function() { vote(0); });
    $downvoteButtons.click(function() { vote(-1); });
    $(document).keydown(function(event) {
      if ($instructionsContainer.is(':visible')) {
        if (event.which == 13 || event.which == 32 || event.which == 39) {
          closeInstructions();
        }
        return;
      } else if (!canVote) {
        return;
      }

      switch (event.which) {
        case 38: vote(1); break;
        case 13: case 32: case 39: vote(0); break;
        case 40: vote(-1); break;
      }
    });
    refreshPoem();
  });

  function closeInstructions() {
    $instructionsContainer.fadeOut();
    hideVoteButtons();
    $poemContainers.eq(activePoemContainerIndex).fadeIn();
  }

  function hideVoteButtons() {
    canVote = false;
    $voteButtons.addClass('hidden');

    // Only allow the user to vote again after he/she has had time to read the poem.
    setTimeout(function() {
      $voteButtons.removeClass('hidden');
      canVote = true;
    }, ALLOW_VOTE_DELAY);
  }

  function vote(vote) {
    hideVoteButtons();
    sendVote(poemType, poems[0].encoded_ids, vote);

    incCounter(poemType + '-poems-viewed')
    poems = poems.splice(1)
	  $poemContainers.eq(activePoemContainerIndex).fadeOut();
    activePoemContainerIndex = 1 - activePoemContainerIndex
    refreshPoem();
	  $poemContainers.eq(activePoemContainerIndex).fadeIn();

    if (ga != null) ga('send', 'event', poemType, 'vote', vote.toString());
  }

  function refreshPoem() {
    if (poems.length < 1) {
      setTimeout(refreshPoem, LOAD_POEMS_RETRY_DELAY);
      return;
    }
    
    var $poemContainer = $poemContainers.eq(activePoemContainerIndex);
    renderPoem(poems[0], $poemContainer);
    var $poemRank = $poemContainer.find('.poem-rank');
    if (poems[0].rank != null) {
      $poemRank.show();
      $poemRank.text('#' + (poems[0].rank + 1));
    } else {
      $poemRank.hide();
    }

    if (poems.length < MIN_CACHED_POEMS) {
      loadPoems();
    }

    if (getCounter(poemType + '-poems-viewed') >= MIN_POEMS_TO_VIEW_BEFORE_SHOWING_CREATE_LINK &&
        $createPoemLink.hasClass('hidden')) {
      $createPoemLink.removeClass('hidden');
    }
  }

  function loadPoems() {
    var data = {};
    if (poems[poems.length - 1].rank != null) {
      data.rank = poems[poems.length - 1].rank + 1;
    }
    $.ajax({
      url: '/x/get-' + poemType + '/',
      data: data,
      cache: false
    }).done(function(data) {
      if (data.errors) {
        console.error(data.errors);
        setTimeout(loadPoems, LOAD_POEMS_RETRY_DELAY);
        return;
      }
      for (var i = 0; i < data.poems.length; ++i) {
        poems.push(data.poems[i]);
      }
    }).fail(function() {
      console.error('Server error!');
      setTimeout(loadPoems, LOAD_POEMS_RETRY_DELAY);
    });
  }
</script>
{% endblock %}