<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}BASE{% endblock %}</title>
  <link href="/static/base.css" rel="stylesheet" type="text/css">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery.cookie.js"></script>
  <script src="/static/base.js"></script>
  <script src="/static/ajax.js"></script>
  {% block head %}
    <meta property="og:site_name" content="The Open Dada Project"/>
    <meta property="og:type" content="website"/>
  {% endblock %}
</head>
<body>
  <a href="/"><img id="logo" src="/static/logo.svg" alt="The Open Dada Project"></img></a>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    {% block footer %}{% endblock %}
  </div>
  {% block footer_script %}{% endblock %}
</body>
</html>
