{% extends 'base.html' %}

{% block title %}BASE_POEM{% endblock %}

{% block content %}
{{ super() }}
<div id="instructions-container" {% if not show_instructions %}style="display: none;"{% endif %}>
  Unrelated questions and answers are provided by poets and paired at random. Many are
  nonsense&mdash;some outright absurd&mdash;but a few: <span class="accent">fortuitously
  profound</span>.
  <div id="instructions-buttons-container">
    <button class="next-button"></button>
  </div>
</div>
<div class="poem-container" {% if show_instructions %}style="display: none;"{% endif %}>
  {% block poem %}POEM{% endblock %}
  <br>
  <div class="authors-container">
    {% block authors %}AUTHORS{% endblock %}
  </div>
  <div class="vote-buttons-container">
    <button class="upvote-button"></button>
    <button class="next-button"></button>
    <button class="downvote-button"></button>
  </div>
</div>
<div class="poem-container" style="display: none;">
  {{ self.poem() }}
  <br>
  <div class="authors-container">
    {{ self.authors() }}
  </div>
  <div class="vote-buttons-container">
    <button class="upvote-button"></button>
    <button class="next-button"></button>
    <button class="downvote-button"></button>
  </div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
<a id="create-poem-link" href="/{{ poem_type }}/create/">
  <div id="fingerprint"></div>Create your own
</a>
{% endblock %}

{% block footer_script %}
{{ super() }}
<script>
  {# Derived templates must implement a renderPoem(poem, container) function and should preload the
     poems array with server-side data for better load performance. #}

  var poems = [],
      poemType = '{{ poem_type }}',
      activePoemContainerIndex = 0;

  var $instructionsContainer = $('#instructions-container'),
      $instructionsNextButton = $('#instructions-container .next-button'),
      $poemContainers = $('.poem-container'),
      $upvoteButtons = $('.vote-buttons-container .upvote-button'),
      $nextPoemButtons = $('.vote-buttons-container .next-button'),
      $downvoteButtons = $('.vote-buttons-container .downvote-button'),
      $voteButtons = $('.vote-buttons-container button'),
      $createPoemLink = $('#create-poem-link');

  var MIN_POEMS_TO_VIEW_BEFORE_SHOWING_CREATE_LINK = 5,
      LOAD_POEMS_RETRY_DELAY = 2000,
      ALLOW_VOTE_DELAY = 1000,
      MIN_CACHED_POEMS = 5;

  $(function() {
    $instructionsNextButton.click(function() {
      $instructionsContainer.fadeOut();
      $poemContainers.eq(activePoemContainerIndex).fadeIn();
    });
    $upvoteButtons.click(function() { vote(1); });
    $nextPoemButtons.click(function() { vote(0); });
    $downvoteButtons.click(function() { vote(-1); });
    $(document).keydown(function(event) {
      switch (event.which) {
        case 38: vote(1); break;
        case 39: vote(0); break;
        case 40: vote(-1); break;
      }
    });
    refreshPoem();
  });

  function vote(vote) {
    $voteButtons.addClass('hidden');

    sendVote(poems[0].entry_keys, vote);
    incCounter(poemType + '-poems-viewed')
    poems = poems.splice(1)
	$poemContainers.eq(activePoemContainerIndex).fadeOut();
    activePoemContainerIndex = 1 - activePoemContainerIndex
    refreshPoem();
	$poemContainers.eq(activePoemContainerIndex).fadeIn();

    // Only allow the user to vote again after he/she has had time to read it.
    setTimeout(function() {
      $voteButtons.removeClass('hidden');
    }, ALLOW_VOTE_DELAY);
  }

  function refreshPoem() {
    if (poems.length < 1) {
      setTimeout(refreshPoem, LOAD_POEMS_RETRY_DELAY);
      return;
    }
    
    renderPoem(poems[0], $poemContainers.eq(activePoemContainerIndex));

    if (poems.length < MIN_CACHED_POEMS) {
      loadPoems();
    }

    if (getCounter(poemType + '-poems-viewed') >= MIN_POEMS_TO_VIEW_BEFORE_SHOWING_CREATE_LINK) {
      $createPoemLink.css('opacity', 1);
    }
  }

  function loadPoems() {
    $.ajax({
      url: '/x/get-' + poemType + '/',
      data: {},
      cache: false,
      success: function(data) {
        if (data.errors) {
          console.error(data.errors);
          setTimeout(loadPoems, LOAD_POEMS_RETRY_DELAY);
          return;
        }
        for (var i = 0; i < data.poems.length; ++i) {
          poems.push(data.poems[i]);
        }
      }
    }).fail(function() {
      console.error('Server error!');
      setTimeout(loadPoems, LOAD_POEMS_RETRY_DELAY);
    });
  }
</script>
{% endblock %}