{% extends 'base_create_poem.html' %}

{% block title %}Create a &quot;Conditional&quot; poem{% endblock %}

{% block head %}
{{ super() }}
<meta property="og:description" content="Submit your own profound condition or consequence to be randomly paired with conditions/consequences from others in an exercise of global collaborative poetry!"/>
{% endblock %}

{% block twitter_text %}Create your own "Conditional" poem:{% endblock %}

{% block instructions %}
  Submit your own <span class="accent">profound</span> condition and/or
  <span class="accent">unrelated</span> consequence. The more poignant and specific, the better.
{% endblock %}

{% block inputs %}
  <label for="condition-textbox">If </label>
  <input id="condition-textbox" type="text" maxlength="64" placeholder="there were no guillotine"></input>
  <label for="condition-textbox">&hellip;</label>
  <br>
  <label for="consequence-textbox">&hellip;</label>
  <input id="consequence-textbox" type="text" maxlength="64" placeholder="Wasps would take off their corsets."></input>
  <br>
  <label for="author-textbox">By:</label>
  <input id="author-textbox" type="text" maxlength="32" placeholder="Your name..."></input>
{% endblock %}
