{% extends 'base_poem.html' %}

{% block title %}Create Entry{% endblock %}

{% block content %}
{{ super() }}
<span id="question-directions" class="directions" style="display: none;">Enter a question below:</span>
<span id="answer-directions" class="directions" style="display: none;">Enter an answer below:</span>
<br>
<input id="text-textbox" type="text"></input>
<br>
By: <input id="author-textbox" type="text"></input>
<span id="create-poem-error"></span>
{% endblock %}

{% block footer_script %}
{{ super() }}
<script>
  var entryType = randEntry();

  $(function() {  
    $('#author-textbox').val(localStorage.getItem('author') || '');
    getDirectionsEl(entryType).show();
    $(document).keydown(function(e) { if(e.which == 13) handleEnter(); });
  });

  function handleEnter() {
    createEntry(entryType, $('#text-textbox'), $('#author-textbox'),
                $('#create-poem-error'), function() {
      $('.directions').hide();
      entryType = randEntry();
      getDirectionsEl(entryType).show();
    });
  }

  function getDirectionsEl(entryType) {
    return $('#' + entryType.toLowerCase() + '-directions');
  }
</script>
{% endblock %}