{% extends 'base.html' %}

{% block title %}The Open Dada Project{% endblock %}

{% block head %}
{{ super() }}
<meta property="og:title" content="The Open Dada Project"/>
<meta property="og:description" content="Explore an infinite library of never-before-written, collaborative poems randomly assembled from phrases submitted by poets like you. Join the global literary experiment by submitting your own phrases!"/>
{% endblock %}

{% block content %}
<div>
  <div id="project-quotes-container">
    <blockquote cite="http://www.gutenberg.org/files/16989/16989-h/16989-h.htm" lang="fr">La
      po&eacute;sie doit &ecirc;tre faite par tous. Non par un.</blockquote>
    <blockquote cite="http://www.gutenberg.org/files/16989/16989-h/16989-h.htm">Poetry must be made
      by all. Not by one.</blockquote>
  </div>
  <div class="authors-container">
    <span class="poem-author">Lautr&eacute;amont</span>
  </div>
  <p class="project-description">
    In cafes and parlors across 20<sup>th</sup> century France, Surrealist artists and writers
    experimented with collaborative poetic &ldquo;games&rdquo; designed to buck the traditional
    modes of writing by excising intent and thwarting continuity. Poets would contribute poignant,
    independent literary components that were then assembled at random into poems out of which the
    reader alone was to discern order.
  </p>
  <p class="project-description">
    <span class="accent">The Open Dada Project</span> continues this spirit with a series of global
    literary &ldquo;games&rdquo; wherein poets like yourself are invited to participate in the
    endless pursuit of the aesthetic.
  </p>
  <nav id="question-answer-link">
    <a href="/question-answer/">
      <img src="/static/question-answer.svg" alt="Question &amp; Answer"/>
    </a>
  </nav>
  <nav id="conditional-link">
    <a href="/conditional/">
      <img src="/static/conditional.svg" alt="Conditional"/>
    </a>
  </nav>
  <nav id="the-exquisite-corpse-link">
    <a>
      <img src="/static/the-exquisite-corpse.svg" alt="The Exquisite Corpse"/>
    </a>
  </nav>
  <div id="contact-us-container">
    <a href="mailto:0x24a537r9@gmail.com">Shoot me an email!</a>
  </div>
</div>
{% endblock %}

{% block footer_script %}
{{ super() }}
<script>
  var $projectQuotesContainer = $('#project-quotes-container');

  $(function() {
    setInterval(function() {
      if ($projectQuotesContainer.hasClass('translated')) {
        $projectQuotesContainer.removeClass('translated');
      } else {
        $projectQuotesContainer.addClass('translated');
      }
    }, 4000);
  });
</script>
{% endblock %}