{% extends 'base_poem.html' %}

{% block title %}Question &amp; Answer{% endblock %}

{% block head %}
{{ super() }}
<meta property="og:title" content="Question &amp; Answer"/>
<meta property="og:description" content="Q: {{ question.text }} A: {{ answer.text }}"/>
{% endblock %}

{% block poem %}
<span id="question" class="poem-text">{{ question.text }}</span><br>
<span id="answer" class="poem-text">{{ answer.text }}</span>
{% endblock %}

{% block authors %}
<span id="question-author" class="poem-author">{{ question.author }}</span><br>
<span id="answer-author" class="poem-author">{{ answer.author }}</span>
{% endblock %}

{% block footer_script %}
{{ super() }}
<script>
  poems.push({
    question: {{ question | to_json | safe }},
    answer: {{ answer | to_json | safe }},
    encoded_ids: '{{ encoded_ids }}',
    entry_keys: '{{ entry_keys }}'
  });

  var $question = $('#question'),
      $answer = $('#answer'),
      $questionAuthor = $('#question-author'),
      $answerAuthor = $('#answer-author');

  function renderPoem(poem) {
    $question.text(poem.question.text);
    $answer.text(poem.answer.text);
    $questionAuthor.text(poem.question.author);
    $answerAuthor.text(poem.answer.author);
  }
</script>
{% endblock %}