{% extends 'base_question_answer.html' %}

{% block title %}Question &amp; Answer{% endblock %}

{% block content %}
{{ super() }}
<span id="question-q">Q:</span><span id="question" class="poem-text"></span>
<br>
<span id="answer-a">A:</span><span id="answer" class="poem-text"></span>
<br>
<button id="load-poem-button" disabled>Load poem</button>
<br>
<a id="create-poem-button" href="create">Create poem</a>
<br>
<span id="load-poem-error"></span>
{% endblock %}

{% block footer_script %}
{{ super() }}
<script>
  $(function () {
    var loadEl = $('#load-poem-button');
    loadEl.click(function() {
      loadQuestionAnswer($('#question'), $('#answer'), loadEl, $('#load-poem-error'),
                         $('#create-poem-button'));
    });
    loadEl.click();
  });
</script>
{% endblock %}