{% extends 'base_poem.html' %}

{% block title %}Question &amp; Answer{% endblock %}

{% block head %}
{{ super() }}
<meta property="og:title" content="&quot;Q: {{ poems[0].entries[0].text }} A: {{ poems[0].entries[1].text }}&quot;"/>
<meta property="og:description" content="A collaborative poem randomly assembled from phrases submitted by {{ poems[0].entries[0].author }} and {{ poems[0].entries[1].author }}. Join the global literary experiment!"/>
{% endblock %}

{% block twitter_text %}"Q: {{ poems[0].entries[0].text }} A: {{ poems[0].entries[1].text }}"{% endblock %}

{% block instructions %}
Unrelated questions and answers are submitted by poets and paired at random to create poems. Many
are nonsensical&mdash;some outright absurd&mdash;but a few: <span class="accent">fortuitously
profound</span>.
{% endblock %}

{% block poem %}
<span class="question poem-text">{{ poems[0].entries[0].text }}</span><br>
<span class="answer poem-text">{{ poems[0].entries[1].text }}</span>
{% endblock %}

{% block authors %}
<span class="question-author poem-author">{{ poems[0].entries[0].author }}</span><br>
<span class="answer-author poem-author">{{ poems[0].entries[1].author }}</span>
{% endblock %}

{% block footer_script %}
{{ super() }}
<script>
  function renderPoem(poem, container) {
    container.find('.question').text(poem.question.text);
    container.find('.answer').text(poem.answer.text);
    container.find('.question-author').text(poem.question.author);
    container.find('.answer-author').text(poem.answer.author);
  }

  function getPoemText(poem) {
    return 'Q: ' + poem.question.text + ' A: ' + poem.answer.text;
  }
</script>
{% endblock %}